<!-- Registration -->
<section id="registration" class="py-5">
  <div class="dark-overlay">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 py-3">
          <!-- Template-Driven -->
          <form (ngSubmit)="onShowFormDetails(myform)" #myform="ngForm">
            <div ngModelGroup="user" #usergroup="ngModelGroup">
              <div class="form-group">
                <label for="name">Username</label>
                <input
                  type="text"
                  class="form-control"
                  ngModel
                  name="username"
                  required
                />
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input
                  type="text"
                  class="form-control"
                  name="email"
                  ngModel
                  required
                  email
                />
              </div>
            </div>
            <p>Email is invalid</p>
            <div ngModelGroup="passwordgroup" #passgroup="ngModelGroup">
              <div class="form-group">
                <label for="password">Password</label>
                <input
                  type="password"
                  class="form-control"
                  name="password"
                  ngModel
                  required
                />
              </div>
              <div class="form-group">
                <label for="email">Confirm Password</label>
                <input
                  name="confirmPassword"
                  type="password"
                  class="form-control"
                  ngModel
                  required
                />
              </div>
            </div>
            <div class="d-flex justify-content-around">
              <div class="">
                <button
                  class="btn btn-success"
                  type="submit"
                  [disabled]="myform.invalid"
                >
                  Submit
                </button>
              </div>
              <div class="">
                <button
                  class="btn btn-primary"
                  type="button"
                  (click)="onAlterValue(myform)"
                >
                  Alter
                </button>
              </div>
              <div class="">
                <button
                  class="btn btn-primary"
                  type="button"
                  (click)="onAutoFill(myform)"
                >
                  Auto Fill
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-sm-6 py-3">
          <!-- Reactive Approach -->
          <form [formGroup]="comicForm" (ngSubmit)="onSaveHero()">
            <div class="form-group">
              <label for="name">Character Name</label>
              <input
                type="text"
                class="form-control"
                formControlName="characterName"
              />
            </div>
            <div class="form-group">
              <label for="universe">Universe</label>
              <input
                type="text"
                class="form-control"
                formControlName="universe"
              />
            </div>
            <div formArrayName="abilities">
              <div
                *ngFor="
                  let ability of comicForm.get('abilities')['controls'];
                  let i = index
                "
              >
                <div class="input-group py-2">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Superpower"
                    [formControlName]="i"
                  />
                  <span class="input-group-append">
                    <div class="d-flex">
                      <div>
                        <button
                          class="btn btn-success"
                          (click)="onAddAbility()"
                          type="button"
                        >
                          +
                        </button>
                      </div>
                      <div>
                        <button
                          class="btn btn-danger"
                          (click)="onRemoveAbility(i)"
                        >
                          &times;
                        </button>
                      </div>
                    </div>
                  </span>
                </div>
              </div>
            </div>
            <button
              class="btn btn-danger my-2"
              type="submit"
              [disabled]="comicForm.invalid"
            >
              Save
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
